
/* index */
body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(40, 37, 40);
    margin: 0%;
    color: white;
}

/* background image animation */
.background {
    margin: 0%;
    background-image: url("imagenes/home.png"), url("imagenes/home2.jpg"), url("imagenes/home3.jpg"), url("imagenes/home4.jpg");
    background-position: center;
    background-size: cover;
    animation: slideBackground 35s ease-in-out infinite;
}
.content {
    background-color: rgb(40, 37, 40, 0.5);
}
@keyframes slideBackground {
    0%,100% {
        background-image: url("imagenes/home.png");
    }
    25% {
        background-image: url("imagenes/home2.jpg");
    }
    50% {
        background-image: url("imagenes/home3.jpg");
    }
    75% {
        background-image: url("imagenes/home4.jpg");
    }
}

/* menu */
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.menu a:hover {
    text-decoration: underline;
}
.barra-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0%;
    padding-top: 20px;
}
.menu a {
    margin: 0%;
    padding: 0px 50px 0px 0px;
    color: white;
}

img {
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    padding-bottom: 50px;
}

/* footer */
footer {
    background-color: rgb(40, 37, 40);
    background: linear-gradient(0deg, rgba(40,37,40,1) 0%, rgba(40,37,40,0.8) 70%, rgba(40,37,40,0) 100%);
    color: white;
    padding: 0px 20px 0px 20px;
}
footer img {
    width: 350px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
}
footer p {
    font-weight: 300;
}
footer a {
    color: white;
}
footer ul {
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 0%;
}
.estructura {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 100px;
    font-weight: 700;
}
.estructura li {
    font-weight: 300;
}
.primer-item {
    padding-top: 15px;
}
.item {
    padding-top: 5px;
}

/* sobre nosotros */
body {
    background-image: url("imagenes/sobre-nosotros.png");
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-sobre-nosotros {
    background: linear-gradient(0deg, rgba(40,37,40,1) 0%, rgba(40,37,40,0) 100%);
    height: 615px;
}
.hero-sobre-nosotros a {
    color: rgb(40, 37, 40);
}
.hero-sobre-nosotros h1 {
    padding-top: 420px;
    padding-left: 20px;
    font-weight: 300;
    font-size: 70px;
}
.sobre-nosotros {
    margin: 40px 40px 100px 40px;
}
.sobre-nosotros div {
    padding-left: 50px;
    padding-right: 50px;
}

.sobre-nosotros p {
    padding-bottom: 40px;
    padding-left: 15px;
}


/* wikiplantas */
.hero {
    text-align: center;
    background: linear-gradient(0deg, rgba(40,37,40,1) 0%, rgba(40,37,40,0.8) 60%, rgba(40,37,40,0) 100%);
    height: 615px;
}
.hero h1 {
    padding-top: 100px;
}
.hero a {
    color:rgb(40, 37, 40);
}
.cards {
    position: relative;
    top: -300px;
}
h2 {
    margin-left: 10px;
}
.carrusel-cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}

.tarjetas-wiki {
    position: relative;
    margin: 0px 10px 0px 10px;
    width: 300px;
    height: 400px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
}
  
.img-card {
    padding: 0%;
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgb(33, 33, 33, 80%);
    color: white;
    border-radius: 0px 0px 5px 5px;
    
}
.container h3 {
    padding-left: 15px;
    margin-bottom: 0px;
}
.container p {
    padding-left: 15px;
    margin-top: 5px;
}

/* plantips */

.categoria-tips {
    position: relative;
    top: -300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 130px;
}
.categoria {
    width: 300px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.categoria img {
    width: 300px;
    padding: 0px;
}
.categoria h2 {
    margin: 0px;
}

/* tus plantitas */
.botones {
    position: relative;
    top: -300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px 20px 140px 20px;
}

button {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
    background-color: rgb(204, 224, 175);
    font-size: 20px;
    border-radius: 10px;
}
button:hover {
    background-color: rgb(78, 133, 106);
    color: white;
}
